<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDObyUuOojWNgCd8-_yaDLIos37mHPVVcY</string>
	<key>GCM_SENDER_ID</key>
	<string>1098387068225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zmare.zmare</string>
	<key>PROJECT_ID</key>
	<string>zmare-mobile-appication</string>
	<key>STORAGE_BUCKET</key>
	<string>zmare-mobile-appication.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098387068225:ios:39ed1a9e85b13cdb147dc0</string>
</dict>
</plist>